@import url(./font.css);
/*-----global settings-----*/
html, body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #000000;
}

:root {
    /*theme font-family*/
    --Brush: 'Brush Script MT', cursive;
    --Fell_English: 'Lucida Console', 'Courier New', monospace;
    --Arial: 'Arial', 'Helvetica', sans-serif;
    --Fell_English: 'Luxurious_Roman';
    --Island: 'Island_Moments';
    --Fell_English: 'IM_Fell_English_SC';
    --Yuji_Syuku: 'Yuji_Syuku';
}

/*----global settings end---*/

/*--------global classes-------*/
/*------global fonts------*/
/*default fonts*/
.text-default {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    font-family: var(--Yuji_Syuku);
    color: #9db7ff;
}

.text-default-big {
    font-size: 1.5rem;
    margin-right: 1.3rem;
    font-family: var(--Fell_English);
    color: #ffffff;
}

.text-black {
    font-size: 1.5rem;
    font-family: var(--Yuji_Syuku);
    color: black;
}
/*title link*/
.text-title-link {
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
    font-family: var(--Fell_English);
    /*text-shadow: 0px 0px 10px #000000;*/
    color: #ffffff;
}
/*default text link*/
.text-link {
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
    font-family: var(--Yuji_Syuku);
    /*text-shadow: 0px 0px 10px #000000;*/
    color: #ffffff;
}

.text-nav{
  font-size: 1.5rem;
  padding: 2rem 2.5rem;
  font-family: var(--Fell_English);
  text-shadow: 0px 0px 10px #000000;
  color: white;
}
/*the title of the website*/
.text-title {
    font-size: 5rem;
    font-family: var(--Fell_English);
    text-shadow: 0px 0px 10px #212121;
    color: white; /*#212121*/
}

.text-subtitle {
    font-size: 1rem;
    font-family: var(--Fell_English);
    /*text-shadow: 0px 0px 10px #000000;*/
    color: #212121;
}

/*the logo of the website*/
.text-logo{
  text-decoration: underline;
  font-size: 2rem;
  font-family: var(--Fell_English);
  font-style: italic;
  text-shadow: 0px 0px 10px #000000;
  color:white;
}

/*------global fonts end-------*/

/*hyper link default color*/
a{
  text-decoration: none;
  transition: .2s ease;
}

/*hyper link hover color*/
a:hover {
    color: #9db7ff;
}

/*----hyper links end------*/

/*horizontal break lines*/
hr {
    width: 90%;
    background-color: #3f3f3f;
    height: 2px;
    border-radius: 25px;
    display: block;
    border-style: none;
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*pagination layout position*/
.pagination {
  justify-content: center;
  font-size: 1.4rem;
  margin: 4rem 0;
}

/*pagination button*/
.pagination a{
  padding: .6rem .9rem;
  border-radius: 2rem;
  margin: .3rem;
  transition: .2s ease;
}

/*pagination color*/
.pagination .page {
    /*box-shadow: 0px 1px 2px black;*/
    background-color: #335aa3;
    border-radius: 10rem;
}

/*pagination hover*/
.pagination a:hover {
    background-color: #9db7ff;
}

/*-----lists----*/
ul{
  list-style-type: none;
}
/*-----lists end----*/

/*----icons----*/
i{
  transition: 0.6s ease;
}
/*----icons end----*/
/*button default*/
.btn {
    padding: 1rem 2rem;
    border: transparent;
    border-radius: 0px 30px 0px 30px;
    background-color: #335aa3;
    color: white;
    font-size: 1rem;
    transition: .2s ease;
}

/*button hover*/
.btn:hover {
    background-color: #9db7ff;
}

/*----buttons end----*/


/*----images----*/
img{
  max-width: 1080px;
  height: auto;
}

/*----images end----*/
/*-----global classes end----*/

/*---navbar--*/
.nav {
    background: #000000; /*#64412a*/
    overflow: hidden;
    transition: height 1s ease;
}
.nav .nav-menu{
  justify-content: space-between;
}

.nav .nav-items{
  display: flex;
  margin: 2rem;
}

.nav .nav-menu .nav-brand a{
  padding: 1.5rem 2rem;
  display: block;
}

.nav .nav-items .nav-link a{
  border: 0px solid transparent;
  padding: 2rem 2rem;
  position: relative;
  transition: 0.6s ease;
}
/*social media icons default*/
.nav .social i{
  padding: 2rem 0rem;
  margin-right: 2rem;
  font-size: 1.6rem;
}

/*social media icons hover*/
.nav .social i:hover {
    color: #9db7ff;
}

/*---collapsed contents---*/
.nav .toggle-collapse{
  position: absolute;
  top: 2%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse i{
  font-size: 1.6rem;
}

.nav .toggle-collapse .toggle-icons{
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem 0;
}

.collapse{
  height: 43rem;
}
/*---collapsed contents---*/
/*-----nav bar ends----*/
/*---------MAIN---------*/
/*-------site title------*/

/*title background image*/
main .site-title {
    background-image: url('../assets/title/images/title1.jpg');
    background-position: center center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 5px gray;
}

main .site-subtitle {
    background: white;
    background-size: cover;
    height: 20vh;
    display: flex;
    justify-content: left;
    padding: 2rem;
    /*box-shadow: 0px 4px 4px black;*/
    box-shadow: 0px 0px 4px gray;
}


main .site-title .site-background{
  padding-top: 6rem;
  text-align: center;
}


/*-------site title end-------*/
/*----------container-------*/
main .container{
  margin: 2rem;
  margin-bottom: 5rem;
}
/*--------site content-------*/
main .site-content{
  display: grid;
  grid-template-columns: 50% 50%;
}

main .post-content{
  width: 100%;
  margin: 3rem 0;
}

main .site-content > .post-image > div{
  overflow: hidden;
}


main .site-content .post-content > .post-image .img{
  max-width: 100%;
  height: auto;
  transition: .4s ease;
}

main .site-content .post-content > .post-image .img:hover{
  transform: scale(0.95);
}

main .site-content .post-content > .post-image, .post-title{
  padding: 1rem 2rem;
  position: relative;
}


main .site-content .post-content > .post-title .post-info {
  justify-content: left;
  display: flex;
  padding-top: .3rem;
}

main .site-content .post-content > .post-title p {
  display: block;
}



/*--undivided portfolio---*/
main .site-content-undivided{
  display: grid;
}

main .post-content-undivided{
  width: 100%;
  align-items: center;
}

main .site-content-undivided .post-content-undivided > .post-image-undivided .img-undivided{
  box-shadow: inset 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  max-width: 60%;
  height: auto;
  transition: .4s ease;
}

main .site-content-undivided .post-content-undivided > .post-image-undivided .img-undivided:hover{
  transform: scale(0.95);
}

main .site-content-undivided .post-content-undivided > .post-image-undivided, .post-title-undivided{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


main .site-content-undivided .post-content-undivided > .post-title-undivided .post-info-undivided {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main .site-content-undivided .post-content-undivided > .post-title-undivided p {
  text-align: left;
  display: block;
  margin-left: 3rem;
}

/*---undivided portfolio ends----*/


/*--------side bar-------*/
/*-------- clock --------*/

main .site-content .sidebar .clocks > span .clock {
    width: 40%;
    height: auto;
    margin-top: 10%;
    margin-left: 6%;
    box-shadow: 0px 0px 10px #212121;
}

main .site-content .sidebar .clocks > span p{
  display: none;
}

main .site-content .sidebar .clock-description ul{
  width: 100%;
  display: flex;
  justify-content: center;
}

main .site-content .sidebar .clock-description ul li{
  margin-left: auto;
  margin-right: auto;
}
/*---------clock end--------*/
/*---------calendar----------*/
main .site-content .sidebar .cal {
    width: 70%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px #212121;
    margin: auto;
}
/*---------calendar end---------*/

/*---------galllery-------------*/
.gallery{
  margin-top: 10%;
}

.gallery img{
  box-shadow: 0px 0px 7px gray;
  transition: .4s ease;
}

.gallery img:hover{
  transform: scale(0.95);
}
.row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 40%;
  max-width: 40%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/*---------gallery end------------*/

/*------modal-------------*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: black; /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal contents*/
.modal-content{
  text-align: center;
  display: block;
  max-height: 80%;
  max-width: auto;
}

.modal-content .modal-text{
  text-align: center;
}


/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*--------modal end----------*/
/*----------side bar end-------------*/
/*---------site content end-----------*/
/*-----------X----------*/



/*-----viewport <= 1080px ----*/
@media only screen and (max-width: 1080px){

  .nav .nav-menu, .nav .nav-items{
    flex-direction: column;
  }
  .nav .nav-items{
    text-align: center;
  }
  .nav .social{
    padding-left: 4rem;
  }

  .nav .social i{
    font-size: 3rem;
    padding: 1rem;
  }
  .nav .toggle-collapse{
    display: initial;
  }

  main .site-title .site-background{
    padding-top: 7rem;
  }
  
  main .site-content{
    grid-template-columns: 70% 30%;
  }

  main .site-content .post-content > .post-title .post-info {
    justify-content: left;
    padding-top: .6rem;
  }

  main .site-content .post-content > .post-title .post-info span{
    flex-direction: column;
  }

  main .site-content .post-content > .post-title .post-description{
    display: block;
  }

  main .site-content .sidebar .clocks{
    margin-top: 13%;
  }
  main .site-content .sidebar .clocks > span .clock{
    padding-left: 5%;
    width: 80%;
    height: auto;
  }
  main .site-content .sidebar .clock-description ul li{
    display: none;
  }

  main .site-content .sidebar .clocks span > p{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10%;
    text-align: center;
  }
  
}

/* Responsive layout - makes a one column-layoutd*/
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*-----viewport <= 790px ----*/
/*--------------x-------------*/
