@import url(./font.css);

html,body{
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root{
  /*theme font-family*/
  --Roboto:'Roboto', cursive;
  --Titillium_Web:'Titillium', cursive;
  --Roboto_Thin: 'Roboto_Thin', cursive;
  --Anton: 'Anton', cursive;
  --Dosis: 'Dosis', cursive;
  --Dosis_Light: 'Dosis_Light', cursive;
  --PT_Sans: 'PT_Sans', cursive;

  /*theme colors*/

  --light_sakura:#ffe2e7;
  --sakura: #ffb7c5;
  --barbie_pink: #f4539c;
  --ripe_pink: #ec366e;

  --light_purple:#b5bed5;
  --dim_purple: #776572;
  
  --light_lime:#a4ccad;
  --lime:#04966c;
  --light_lemon:#fad67e;
  --lemon:#f9b024;

  --link: #3366BB;
  --lighter_blue: #daf9ff;
  --light_blue: #b1f2ff;
  --plain_blue:#00a6c0;
  --dim_blue:#3e6787;
  --dark_blue:#2e616f;
  --deep_blue:#34495e;

  --light_gray:#6a888c;
  --plain_gray:#404040;
  --gray: #2a2725;
  
}
/*--------global classes-------*/
a{
  text-decoration: none;
  color:var(--deep_blue);
  transition: .2s ease;
}

a:hover{
  font-size: 120%;
}

a:active{
  color: var(--ripe_pink);
}

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
span{
  font-size: 1rem;
  padding: .4rem;
  font-family: var(--PT_Sans);
  color: var(--deep_blue);
}
.text-grey{
  font-size: 1rem;
  padding-inline: .3rem;
  font-family: var(--Titillium_Web);
  color:var(--plain_gray);
}
.text-title{
  font-size: 1.6rem;
  padding-inline: .3rem;
  font-family: var(--Anton);
  color:var(--plain_gray);
}
.pagination {
  justify-content: center;
  font-size: 1.4rem;
  margin: 4rem 0;
}

.pagination a{
  padding: .6rem .9rem;
  border-radius: 2rem;
  margin: .3rem;
  font-family: var(--Roboto);
  transition: .2s ease;
}

.pagination a:hover{
  font-size: 120%;
}

.pagination a:active{
  background-color: var(--sakura);
}

.pagination .page{
  box-shadow: 0px 1px 2px var(--light_gray);
  background-color: var(--light_blue);
  border-radius: 5rem;
}

ul{
  list-style-type: none;
}
i{
  transition: 0.6s ease;
}

.btn{
  padding: 1rem 2rem;
  border: transparent;
  background-color: var(--light_purple);
  color: var(--gray);
  font-size: .9rem;
  transition: .2s ease;
}


.btn:active{
  background-color: var(--sakura);
}
p{
  font-family: var(--Dosis);
  font-size: 1.1rem;
  color: var(--light_gray);
}

hr{
  background-color: var(--light_gray);
}

img{
  max-width: 1080px;
  height: auto;
}


/*--------x-------*/
/*---navbar--*/
.nav{
  background: #fff;
  padding: 0 2rem;
  height: 0rem;
  min-height: 4.8rem;
  overflow: hidden;
  transition: height 1s ease;

}

.nav .nav-menu{
  justify-content: space-between;
}

.nav .toggle-collapse{
  position: absolute;
  top: 2%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse i{
  font-size: 1.6rem;
  color: var(--gray);
}

.nav .toggle-collapse .toggle-icons{
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem 0;
}

.collapse{
  height: 43rem;
}
.nav .nav-items{
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link{
  border: 2px solid transparent;
  padding: 1.6rem 2rem;
  font-family: var(--Roboto);
  font-size: 1.1rem;
  position: relative;
  transition: 0.6s ease;
}
/*---x--*/
.nav .nav-items .nav-link:hover{
  background-color:var(--light_sakura);
}


.nav .nav-brand a{
  font-family: var(--Roboto);
  font-size: 1.6rem;
  padding: 1.6rem 1.1rem;
  display: block;
}

.nav .social{
  padding: 1.6rem 0;
}

.nav .social i{
  font-size: 1.6rem;
  padding: 0.2rem;
}

.nav .social i:hover{
  color: var(--sakura);
}

/*---------MAIN---------*/
/*-------site title------*/

main .site-title{
  background: url('../assets/tree_blur.jpg');
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 0px 8px var(--light_gray);
}

main .site-title .site-background{
  padding-top: 13rem;
  text-align: center;
  color: white;
}

main .site-title h1{
  
  font-family: var(--Roboto);
  font-size: 3rem;
  
}


/*-------site title end-------*/
/*----------container-------*/
main .container{
  margin: 2rem;
  margin-bottom: 5rem;
}
/*--------site content-------*/
main .site-content{
  display: grid;
  grid-template-columns: 49% 51%;
}

main .post-content{
  width: 100%;
  margin: 3rem 0;
}

main .site-content .post-content > .post-image, .post-title{
  padding: 1rem 2rem;
  position: relative;
}

main .site-content > .post-image > div{
  overflow: hidden;
}

main .site-content .post-content > .post-image .img{
  box-shadow: inset 0px 0px 10px var(--light_gray);
  box-shadow: 0px 0px 10px var(--light_gray);
  max-width: 100%;
  height: auto;
  transition: 1s ease;
}

main .site-content .post-content > .post-image .img:hover{
  transform: scale(0.9);
}

main .post-content .post-title a{
  font-family: var(--Anton);
  font-size: 1.6rem;
}

main .site-content .post-content > .post-title .post-info {
  justify-content: left;
  display: flex;
  padding-top: .3rem;
}

main .site-content .post-content > .post-title p {
  display: block;
}

/*-----hr-------*/

main .posts > hr{
  width: 70%;
}

/*--------side bar-------*/
/*-------- clock --------*/

main .site-content .sidebar .clocks > span .clock{
  width: 40%;
  height: auto;
  margin-top: 7%;
  margin-left: 6%;
  background-color: transparent;
  transition: .2s ease;
}

main .site-content .sidebar .clocks > span h3{
  display: none;
}

main .site-content .sidebar .clock-description ul{
  width: 100%;
  display: flex;
  justify-content: center;
}

main .site-content .sidebar .clock-description ul li{
  margin-left: auto;
  margin-right: auto;
}


/*---------clock end--------*/
/*----------side bar end-------------*/
/*---------site content end-----------*/
/*-----------X----------*/



/*-----viewport <= 1080px ----*/
@media only screen and (max-width: 1080px){

  .nav .nav-menu, .nav .nav-items{
    flex-direction: column;
  }
  .nav .nav-items{
    text-align: center;
  }
  .nav .social{
    padding-left: 4rem;
  }

  .nav .social i{
    font-size: 3rem;
    padding: 1rem;
  }
  .nav .toggle-collapse{
    display: initial;
  }

  main .site-title .site-background{
    padding-top: 7rem;
  }
  
  main .site-content{
    grid-template-columns: 70% 30%;
  }

  main .site-content .post-content > .post-title .post-info {
    justify-content: left;
    padding-top: .6rem;
  }

  main .site-content .post-content > .post-title .post-info span{
    flex-direction: column;
  }

  main .site-content .post-content > .post-title .post-description{
    display: block;
  }

  main .site-content .sidebar .clocks{
    margin-top: 13%;
  }
  main .site-content .sidebar .clocks > span .clock{
    padding-left: 5%;
    width: 80%;
    height: auto;
  }
  main .site-content .sidebar .clock-description ul li{
    display: none;
  }

  main .site-content .sidebar .clocks span > h3{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10%;
    text-align: center;
  }
  
}

/*-----viewport <= 790px ----*/
/*--------------x-------------*/
