.home-title-container { 
    position: absolute;
    z-index: 2;
    cursor: pointer;
    padding: 5rem;
}
.home-content-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 80%;
    cursor: pointer;
}