.calendar-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer,
}
.calendar {
    user-select: none;
    cursor: pointer;
}
.year {
    position: absolute;
    user-select: none;
    padding-bottom: 8rem;
}
.day {
    position: absolute;
    user-select: none;
}
.month {
    position: absolute;
    user-select: none;
    padding-top: 8rem;
}

/*Dynamic mobile styling*/
@media (max-width: 600px) {
    .year {
        position: absolute;
        user-select: none;
        padding-bottom: 5rem;
    }
    .month {
        position: absolute;
        user-select: none;
        padding-top: 6rem;
    }
}