.now-playing {
    position: absolute;
    padding-bottom: 10%;
}
.now-playing-mobile {
    position: absolute;
    padding-bottom: 10%;
}
.radio-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer,
}
.radio {
    background-color: transparent;
    user-select: none;
    cursor: pointer;
}
.button-display {
    position: absolute;
    display: flex;
    padding-left: 10%;
    padding-top: 40%;
    align-self: baseline;
}
.left-button {
    position: relative;
    user-select: none;
    cursor: pointer;
    margin: 10%;
}
.pause-button {
    position: relative;
    user-select: none;
    cursor: pointer;
    margin: 10%;
}
.right-button {
    position: relative;
    user-select: none;
    cursor: pointer;
    margin: 10%;
}