.navigation {
  background-color: #f5f6fd;
  box-shadow: 0 0 15px #626c9b54;
  height: 5rem;
  width: 100%;
  align-content: center;
  position: absolute;
  z-index: 99;
}
.navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}
.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation li {
  margin-left: 20px;
}
.navigation a {
  color: #314b61;
}
.navigation a:hover {
  color: #6b95c5;
}

/*Dynamic mobile styling*/
@media (max-width: 600px) {
  .navigation-collapsed {
    background-color: transparent;
    height: 5rem;
    width: 100%;
    align-content: center;
    position: absolute;
    z-index: 99;
  }
  .navigation-icon {
    color: white;
    font-size: 2em;
    filter: drop-shadow(0 0 10px #2b4d70);
    margin: 1rem;
  }
  .navigation-expanded {
    background-color: #2929297c;
    box-shadow: 0 0 15px #626c9b54;
    height: 40vh;
    width: 100%;
    align-content: center;
    position: absolute;
    z-index: 99;
    transition: height 1s ease;
  }
  .collapse-icon {
    color: white;
    padding-top: 2rem;
    font-size: 1.5em;
  }
  .navigation-expanded nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation-expanded ul {
    display: flex;
    list-style: none;
  }
  .navigation-expanded a {
    color: #ffffff;
    margin: .5rem;
  }
  .navigation-expanded a:hover {
    color: #a2ceff;
  }
}